name: Build AutoGFS

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21' 
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Grant Execute Permission
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: OdinAutoGFS
          path: build/libs/*.jar
      - name: Create Release
        uses: softprops/action-gh-release@v2
        if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main'
        with:
          tag_name: latest
          name: Latest Auto Build
          body: |
            这是由 GitHub Actions 自动生成的最新构建版本。
            提交信息: ${{ github.event.head_commit.message }}
          files: build/libs/*.jar
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}